.footer {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #000;
}
@media (min-width: 1024px) {
  .footer {
    height: 100%;
    min-height: 700px;
    max-height: 1100px;
  }
}
.footer-content {
  position: relative;
  z-index: 1;
  padding: 95px 0 55px 0;
}
@media (min-width: 1024px) {
  .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 60px 0;
  }
}
.footer-body {
  text-align: center;
}
@media (min-width: 1024px) {
  .footer-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .footer-body {
    text-align: left;
  }
}
.footer-footer {
  text-align: center;
}
@media (min-width: 1024px) {
  .footer-footer {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .footer-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .footer-grid-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (min-width: 1024px) {
  .footer-grid-col.-right {
    padding: 0 0 0 40px;
    text-align: right;
  }
}
.footer-header {
  font-size: 38px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.03em;
}
@media (min-width: 360px) {
  .footer-header {
    font-size: 42px;
  }
}
@media (min-width: 768px) {
  .footer-header {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-header {
    font-size: 5.41667vw;
  }
}
@media (min-width: 1900px) {
  .footer-header {
    font-size: 104px;
  }
}
.footer-header h2 {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
.footer-header a {
  position: relative;
  display: inline-block;
  padding: 0 0 8px 0;
  font-weight: 300;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .footer-header a {
    padding: 0 0 15px 0;
  }
}
.footer-header a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  transition: -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  -o-transition: -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  -moz-transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
    -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
  transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
    -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
    -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
    -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
}
.cb-checkbox_rounded .footer-header label > input:focus ~ a.cb-checkbox_rounded-box:before,
.footer-header .cb-checkbox_rounded label > input:focus ~ a.cb-checkbox_rounded-box:before,
.footer-header a:focus:before,
.footer-header a:hover:before {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.footer-mail {
  margin: 80px 0 0 0;
}
@media (min-width: 1024px) {
  .footer-mail {
    margin: 0;
  }
}
.footer-mail a {
  position: relative;
  display: inline-block;
  padding: 0 0 5px 0;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.00464286em;
  text-decoration: none;
}
.footer-mail a:after,
.footer-mail a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.footer-mail a:after {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1),
    -o-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.cb-checkbox_rounded .footer-mail label > input:focus ~ a.cb-checkbox_rounded-box:after,
.footer-mail .cb-checkbox_rounded label > input:focus ~ a.cb-checkbox_rounded-box:after,
.footer-mail a:focus:after,
.footer-mail a:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.footer-address {
  margin: 28px auto 0 auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 157%;
}
@media (min-width: 1024px) {
  .footer-address {
    margin: 28px -30px 0 -30px;
  }
}
@media (min-width: 1200px) {
  .footer-address {
    margin: 28px -35px 0 -35px;
  }
}
.footer-address address {
  display: block;
  font-style: normal;
  margin: 15px 0;
}
@media (min-width: 1024px) {
  .footer-address address {
    display: inline-block;
    margin: 0 30px;
  }
}
@media (min-width: 1200px) {
  .footer-address address {
    margin: 0 35px;
  }
}
.footer-address a {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}
.footer-address a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 1px;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.4s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.4s, -webkit-transform-origin 0s;
  -o-transition: -o-transform 0.4s, -o-transform-origin 0s;
  -moz-transition: transform 0.4s, transform-origin 0s, -moz-transform 0.4s,
    -moz-transform-origin 0s;
  transition: transform 0.4s, transform-origin 0s;
  transition: transform 0.4s, transform-origin 0s, -webkit-transform 0.4s, -moz-transform 0.4s,
    -o-transform 0.4s, -webkit-transform-origin 0s, -moz-transform-origin 0s,
    -ms-transform-origin 0s, -o-transform-origin 0s;
}
.footer-address a:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.footer-link {
  margin: 30px 0 0 0;
}
@media (min-width: 1024px) {
  .footer-link {
    margin: 18px 0 0 0;
  }
}
.footer-link:lang(ru) {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-item {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}
.footer-link-item:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 1px;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.4s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.4s, -webkit-transform-origin 0s;
  -o-transition: -o-transform 0.4s, -o-transform-origin 0s;
  -moz-transition: transform 0.4s, transform-origin 0s, -moz-transform 0.4s,
    -moz-transform-origin 0s;
  transition: transform 0.4s, transform-origin 0s;
  transition: transform 0.4s, transform-origin 0s, -webkit-transform 0.4s, -moz-transform 0.4s,
    -o-transform 0.4s, -webkit-transform-origin 0s, -moz-transform-origin 0s,
    -ms-transform-origin 0s, -o-transform-origin 0s;
}
.footer-link-item:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.footer-social {
  position: relative;
  padding: 40px 0 0 0;
}
@media (min-width: 1024px) {
  .footer-social {
    padding: 33px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .footer-social {
    margin: -15px;
  }
}
@media (min-width: 1600px) {
  .footer-social {
    padding: 33px 0 0 0;
  }
}
.footer-social-item {
  min-width: 90px;
  position: relative;
  display: inline-block;
  width: 76px;
  height: 63px;
  overflow: hidden;
  opacity: 0.3;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0.00464286em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 768px) {
  .footer-social-item {
    width: 98px;
    height: 68px;
    line-height: 67px;
  }
}
@media (min-width: 1200px) {
  .footer-social-item {
    width: -webkit-calc(33.33% - 30px);
    width: -moz-calc(33.33% - 30px);
    width: calc(33.33% - 30px);
    height: auto;
    padding: 18px 0;
    line-height: normal;
    margin: 15px;
    opacity: 1;
    text-align: left;
  }
}
.footer-social-item-title {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.footer-social-item-title span {
  display: none;
}
@media (min-width: 1200px) {
  .footer-social-item-title span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: transparent;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: -o-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1),
      -o-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .footer-social-item-title span:after,
  .footer-social-item-title span:before {
    content: attr(data-text);
    display: block;
    position: absolute;
    color: #fff;
  }
  .footer-social-item-title span:before {
    top: 0;
    -webkit-transform: skewY(0);
    -moz-transform: skewY(0);
    -ms-transform: skewY(0);
    -o-transform: skewY(0);
    transform: skewY(0);
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: -o-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -o-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .footer-social-item-title span:after {
    top: 105%;
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -o-transform: skewY(7deg);
    transform: skewY(7deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: -o-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 2s cubic-bezier(0.19, 1, 0.22, 1),
      -o-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@media (min-width: 1200px) {
  .footer-social-item svg {
    display: none;
  }
}
.footer-social-item:hover {
  opacity: 1;
}
.footer-social-item:hover .footer-social-item-title span {
  -webkit-transform: translateY(-105%);
  -moz-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  -o-transform: translateY(-105%);
  transform: translateY(-105%);
}
@media (pointer: coarse) {
  .footer-social-item:hover .footer-social-item-title span {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.footer-social-item:hover .footer-social-item-title span:before {
  -webkit-transform: skewY(7deg);
  -moz-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  -o-transform: skewY(7deg);
  transform: skewY(7deg);
}
@media (pointer: coarse) {
  .footer-social-item:hover .footer-social-item-title span:before {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.footer-social-item:hover .footer-social-item-title span:after {
  -webkit-transform: skewY(0);
  -moz-transform: skewY(0);
  -ms-transform: skewY(0);
  -o-transform: skewY(0);
  transform: skewY(0);
}
@media (pointer: coarse) {
  .footer-social-item:hover .footer-social-item-title span:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
