.main-cont {
  background-color: transparent;
  .main-title {
    color: white;
    -webkit-text-stroke: 1px black;
    transition: color 0.5 ease-in;
  }
}

#mouse-follower {
  video {
    max-width: 200%;
  }
}

.main-skills-head {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.home-btn {
  display: inline;
}

.home-btn_more {
  position: relative;
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 0;
  color: inherit;
  background: 0 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 0 !important;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-indent: inherit;
  text-decoration: none;
}

.home-btn_more:focus,
.home-btn_more:hover {
  text-decoration: none;
}

.home-btn_more {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 57px;
  padding: 0 32px;
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  border-radius: 47px;
}

@media (min-width: 1200px) {
  .home-btn_more {
    height: 72px;
    padding: 0 40px;
    min-width: 170px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
  }
}

.home-btn_more:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.home-btn_more[data-magnetic]:before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
}

.home-btn_more svg {
  position: relative;
  z-index: 2;
  margin: 0 9px 0 0;
  font-size: 23px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}

@media (min-width: 768px) {
  .home-btn_more svg {
    margin: 0 12px 0 0;
    font-size: 28px;
  }
}

.home-btn_more-title {
  position: relative;
  top: -1px;
  display: block;
  overflow: hidden;
  z-index: 2;
}

.home-btn_more-title span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: color 0.2s, -webkit-transform 0.4s;
  transition: color 0.2s, -webkit-transform 0.4s;
  -o-transition: color 0.2s, -o-transform 0.4s;
  -moz-transition: color 0.2s, transform 0.4s, -moz-transform 0.4s;
  transition: color 0.2s, transform 0.4s;
  transition: color 0.2s, transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s,
    -o-transform 0.4s;
}

@media (min-width: 1200px) {
  .home-btn_more-title span {
    font-size: 18px;
  }
}

.home-btn_more-title span:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 150%;
  left: 0;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -moz-transition: transform 0.4s, -moz-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s;
}

.home-btn_more-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}

.home-btn_more-ripple span {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  background: currentColor;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    -webkit-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    -webkit-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  -o-transition: border-radius 0.5s cubic-bezier(0.4, 0, 0, 1),
    -o-transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1), -moz-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    -moz-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    -moz-transform 0.5s cubic-bezier(0.4, 0, 0, 1), -o-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    -webkit-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1),
    -moz-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.home-btn_more.-inverse {
  color: #000;
}

.home-btn_more.-inverse:after {
  border: 0;
  background: #fff;
}

.home-btn_more.-inverse .home-btn_more-ripple span {
  background: #000;
}

.home-btn_more.-danger {
  color: #fff;
}

.home-btn_more.-danger:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: #ff424d;
}

.home-btn_more.-danger .home-btn_more-ripple span {
  background: #ff2935;
}

@media (pointer: fine) {
  .home-btn_more:hover .home-btn_more-title span {
    color: #fff;
    -webkit-transform: translateY(-150%) skewY(-7deg);
    -moz-transform: translateY(-150%) skewY(-7deg);
    -ms-transform: translateY(-150%) skewY(-7deg);
    -o-transform: translateY(-150%) skewY(-7deg);
    transform: translateY(-150%) skewY(-7deg);
  }
}

@media (pointer: fine) {
  .home-btn_more:hover .home-btn_more-title span:after {
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -o-transform: skewY(7deg);
    transform: skewY(7deg);
  }
}

@media (pointer: fine) {
  .home-btn_more:hover .home-btn_more-ripple span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-duration: 0s, 0s;
    -moz-transition-duration: 0s, 0s;
    -o-transition-duration: 0s, 0s;
    transition-duration: 0s, 0s;
    -webkit-animation: cb-checkbox_rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
    -moz-animation: cb-checkbox_rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
    -o-animation: cb-checkbox_rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
    animation: cb-checkbox_rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
}

@media (pointer: fine) {
  .home-btn_more:hover.-inverse svg {
    color: #fff;
  }
}

.home-btn_seemore {
  font-size: 17px;
  line-height: 210%;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (min-width: 768px) {
  .home-btn_seemore {
    font-size: 20px;
  }
}

.home-btn_seemore:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  background: currentColor;
}

.home-btn_seemore span {
  display: inline-block;
  vertical-align: middle;
}

.home-btn_seemore span + svg {
  margin-left: 0.3em;
}

.home-btn_seemore span + svg.-medium {
  width: 3.86em;
}

.home-btn_seemore:hover {
  opacity: 0.8;
}

.home-btn_seemore:hover:before {
  -webkit-animation: home-btn_seemore-line 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation: home-btn_seemore-line 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-animation: home-btn_seemore-line 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  animation: home-btn_seemore-line 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
