.menu--2,
.menu--2_invert {
  z-index: 1000;
  position: fixed;
  top: calc(113.4 / 2);
  right: 30px;

  &:hover {
    path {
      stroke: white;
    }
  }

  input {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    bottom: 0;
    left: 0;
  }

  path {
    fill: none;
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .line--1,
  .line--3 {
    --total-length: 111.22813415527344;
    --offset: -50.22813415527344;
  }
  .line--2 {
    --total-length: 99;
  }
  input:checked + svg {
    path {
      transform: translateX(30px);
    }
    .line--1,
    .line--3 {
      --offset: -16.9705627485;
    }
    .line--2 {
      --offset: -20;
      --length: 0;
    }
  }
}

.menu--2_invert {
  path {
    stroke: white;
  }
  &:hover {
    path {
      stroke: black;
    }
  }
}
